<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="graphVizLocation" value="C:/Program Files/Graphviz 2.44.1/bin" />
   </appSettings>
  <connectionStrings>
      <add name="PostgreSQLConnection" connectionString="Host=localhost;Port=5432;Database=RoutePlanner;Username=postgres;Password=password" />
  </connectionStrings>
</configuration>